<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link FontAwesom -->
    <script src="https://kit.fontawesome.com/1d47f7a9f5.js" crossorigin="anonymous"></script>
    <!-- Main CSS file -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue Todo</title>
</head>

<body>
    <div id="app">
        <img class='logo' :src="logo" alt="">
        <div class="add_task">
            <input type="text" v-model="newTask" placeholder="Add a new task">
            <button @click='addTask'>Add Task</button>
        </div>
        <div class="tasks_wrapper">
            <div class="tasks" v-if="(tasks.length > 0)">
                <h3>Here's a list of your tasks:</h3>
                <br>
                <div class="task" v-for="(task, index) in tasks">
                    {{task}}
                    <!-- Completed task -->
                    <i class="far fa-check-circle" @click="completedTask(task, index)"></i>
                    <!-- Delete task -->
                    <i class="far fa-times-circle" @click="removeTask(index)"></i>
                </div>
            </div>
            <div class="tasks" v-else>
                <div class="task">
                    <h3>You have nothing left to do!</h3>
                </div>
            </div>
            <div class="tasks completed" v-if="completedTasks.length > 0">
                <h3>Here's a list of your completed tasks:</h3>
                <br>
                <div class="task" v-for="(task, index) in completedTasks">
                    {{task}} <i class="fas fa-redo" @click="redoTask(task, index)"></i>
                </div>
            </div>
        </div>


    </div>


    <!-- Vue JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main JS file -->
    <script src="./main.js"></script>
</body>

</html>